<div>
      <footer class="center">
        <div class="footer">
          <a href="//github.com/in-silico" target="_blank">
            <img src="./img/logo.png" width="110px"></img>
          </a>
        </div>
        <div class="footer-copyright">
          <div>
          Brought to you by <a class="orange-text text-lighten-3" href="//github.com/in-silico" target="_blank">In-silico</a>
          </div>
        </div>
      </footer>
    </div>
  </div>
<script src="/js/bundle.js"></script>
<script src="/js/options.js"></script>
<script src="./js/data.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
</body>
</html>
