
      <div>
        <footer class="center">
          <div class="footer border-up">
            <a href="//github.com/in-silico" target="_blank">
              <img src="/img/logo.png" width="110px"></img>
            </a>
          </div>
          <div class="footer-copyright border-down">
            <div>
            Brought to you by <a class="orange-text text-lighten-3" href="//github.com/in-silico" target="_blank">In-silico</a>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script src="/js/bundle.js"></script>
    <script src="/js/options.js"></script>
  </body>
</html>
