    <footer class="page-footer blue-grey lighten-2 center">
      <div class="container">
        <a href="//github.com/in-silico" target="_blank">
          <img src="./img/logo.png" width="110px"></img>
        </a>
      </div>
      <div class="footer-copyright">
        <div class="container">
        Brought to you by <a class="orange-text text-lighten-3" href="//github.com/in-silico" target="_blank">In-silico</a>
        </div>
      </div>
    </footer>

    <script src="./js/bundle.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/materialize.min.js"></script>
  </body>
</html>
