<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UTPJudge</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link rel="shortcut icon" href="./favicon.ico">
    <link href="/css/style.css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">

  </head>
  <body>
