<!DOCTYPE html>
<html lang="en">
  <head>
    <title>UTPJudge</title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

    <link rel="shortcut icon" href="./favicon.ico">
    <link href="/css/style.css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.5.1/katex.min.css">
  </head>
  <body>
    <div class="container">
      <div class="nav-bar ">
        <nav class="container_nav">
            <ul class="topnav border">
              <li><a id="logo-nav" href="/">In silico</a></li>
              <li><a href="/contests/new"><span>New Contest</span></a></li>
              <li><a href="/contests"><span>Contests</span></a></li>
              <li><a href="/problems"><span>Problems list</span></a></li>
              <li><a href="/problems/new"><span>New Problem</span></a></li>
              <li><a href="/"><span>Educations</span></a></li>
              <li><a href="/users"><span>Users list</span></a></li>
              <ul class="topnav right">
                <li><a href="/users/new"><span>Register</span></a></li>
                <li><a href="#" class "drop" onclick="display()">↑↓</a></li>
              </ul>
            </ul>

          </nav>
      </div>
