<% include header %>
<div class="nav-bar">
  <nav class="container_nav">
      <ul class="main_menu">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/contests/new"><span>New Contest</span></a></li>
        <li><a href="/contests"><span>Contests</span></a></li>
        <li><a href="/problems"><span>Problems</span></a></li>
        <li><a href="/"><span>Education</span></a></li>
        <li><a href="/users/new"><span>Register</span></a></li>
        <li><a href="/users"><span>Users list</span></a></li>
        <li><a href="#" class "drop" onclick="display()">↑↓</a></li>
      </ul>
    </nav>
</div>
<div id="options"><h3>Testing</h3></div>
<div id='container'></div>
<h1>STH</h1>

<div class="row">
  <div class="col-5" id='container'></div>
</div>
<% include footer %>
