<!-- <% /* include header */ %>

<div id="example"></div>
<div id="test"></div>

<% /* include footer */ %> -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test grid</title>
    <meta charset="utf-8"></meta>
    <link href="./css/style.css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <div class="row"><h1>Test Grid</h1></div>
    <br />
    <div class="row"><h4>1 col</h4></div>
    <div class="row">
     <div class="col-12">1 col</div>
    </div>

    <div class="row"><h4>2 col</h4></div>
    <div class="row">
     <div class="col-6">1-col</div>
     <div class="col-6">1-col</div>
    </div>

    <div class="row"><h4>3 col</h4></div>
    <div class="row">
     <div class="col-4">1-col</div>
     <div class="col-4">1-col</div>
     <div class="col-4">1-col</div>
    </div>

    <div class="row"><h4>4 col</h4></div>
    <div class="row">
     <div class="col-3">1-col</div>
     <div class="col-3">1-col</div>
     <div class="col-3">1-col</div>
     <div class="col-3">1-col</div>
    </div>

    <div class="row"><h4>6 col</h4></div>
    <div class="row">
     <div class="col-2">1-col</div>
     <div class="col-2">1-col</div>
     <div class="col-2">1-col</div>
     <div class="col-2">1-col</div>
     <div class="col-2">1-col</div>
     <div class="col-2">1-col</div>
    </div>


    <div class="row"><h4>12 col</h4></div>
    <div class="row">
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
     <div class="col-1">1-col</div>
    </div>

  </body>
</html>
