<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="./favicon.ico">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialize.min.css" rel="stylesheet" media="screen,projection">
    <link href="./css/style.css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <div id="example"></div>

    <script src="./js/bundle.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/materialize.min.js"></script>
  </body>
</html>
