<% include header %>
<div class="nav-bar">
  <nav class="container_nav">
      <ul class="main_menu">
        <li><a href="#" onclick="display()"><i class="fa fa-bars"></i></a>
            <ul class="options">
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
              <li><a href="#"></a></li>
            </ul>
        </li>
        <li><a href="./users/all"><span>Users list</span></a></li>
        <li><a href="./users/new"><span>Register</span></a></li>
        <li><a href="/"><span>Education</span></a></li>
        <li><a href="/problems"><span>Problems</span></a></li>
        <li><a href="/"><span>Contests</span></a></li>
        <li><a href="/"><span>New Contest</span></a></li>
        <li><a href="/"><span>Home</span></a></li>
      </ul>
    </nav>
</div>
<div id="options"><h3>Testing</h3></div>
<div id='container'></div>
<% include footer %>
