<% include header %>
<div class="row">
  <div class="col-3"></div>
  <div class="col-5" id='container'>
    <h1>I'm a login</h1>
    <a href="/auth/github">Log In with Github</a>
  </div>
  <div id='testAuth' class="col-4 sidebar"></div>
</div>

<% include footer %>
