<% include header %>
<div class="row content">
  <div class="col-2"></div>
  <div class="col-8">
    <h1>I'm a login</h1>
    <a href="/auth/github">Log In with Github</a>
  </div>
  <div id='testAuth' class="col-2 sidebar"></div>

  <div id="container"></div>
</div>


<% include footer %>
