@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:900;
  src:url(../font/lato/lato-black.eot);
  src:url(../font/lato/lato-black.eot?#iefix) format('embedded-opentype'),url(../font/lato/lato-black.woff) format('woff'),url(../font/lato/lato-black.ttf) format('truetype'),url(../font/lato/lato-black.svg#latoblack) format('svg')
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:700;
  src:url(../font/lato/lato-bold.eot);
  src:url(../font/lato/lato-bold.eot?#iefix) format('embedded-opentype'),url(../font/lato/lato-bold.woff) format('woff'),url(../font/lato/lato-bold.ttf) format('truetype'),url(../font/lato/lato-bold.svg#latobold) format('svg')
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:700;
  src:url(../font/lato/lato-bolditalic.eot);
  src:url(../font/lato/lato-bolditalic.eot?#iefix) format('embedded-opentype'),url(../font/lato/lato-bolditalic.woff) format('woff'),url(../font/lato/lato-bolditalic.ttf) format('truetype'),url(../font/lato/lato-bolditalic.svg#latobold-italic) format('svg')
}
@font-face {
  font-family:Lato;
  font-style:italic;
  font-weight:400;
  src:url(../font/lato/lato-italic.eot);
  src:url(../font/lato/lato-italic.eot?#iefix) format('embedded-opentype'),url(../font/lato/lato-italic.woff) format('woff'),url(../font/lato/lato-italic.ttf) format('truetype'),url(../font/lato/lato-italic.svg#latoitalic) format('svg')
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:300;
  src:url(../font/lato/lato-light.eot);
  src:url(../font/lato/lato-light.eot?#iefix) format('embedded-opentype'),url(../font/lato/lato-light.woff) format('woff'),url(../font/lato/lato-light.ttf) format('truetype'),url(../font/lato/lato-light.svg#latolight) format('svg')
}
@font-face {
  font-family:Lato;
  font-style:normal;
  font-weight:400;
  src:url(../font/lato/lato-regular.eot);
  src:url(../font/lato/lato-regular.eot?#iefix) format('embedded-opentype'),url(../font/lato/lato-regular.woff) format('woff'),url(../font/lato/lato-regular.ttf) format('truetype'),url(../font/lato/lato-regular.svg#latoregular) format('svg')
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  background-color: #9FAEB0;
  margin: 0;
}

.container{
  max-width: 1024px;
  margin: 10px auto;
}

#logo-nav {
  font-size: 25px;
  font-weight: bold;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f4154;    
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
  color: #48c9b0;
  font-weight: bold;
}

ul.topnav li a.active {
  background-color: #2f4154;
}

ul.topnav ul.right {
    float: right;
    list-style-type: none;
}

@media screen and (max-width: 600px){
    ul.topnav ul.right,
    ul.topnav li {float: none;}
}

* {
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.first-row {margin-top: 50px;}

@font-face {
  font-family: 'FontAwesome';
  src: url('../img/fontawesome-webfont.eot?v=4.5.0');
  src: url('../img/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'),
  url('../img/fontawesome-webfont.woff2?v=4.5.0') format('woff2'),
  url('../img/fontawesome-webfont.woff?v=4.5.0') format('woff'),
  url('../img/fontawesome-webfont.ttf?v=4.5.0') format('truetype'),
  url('../img/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sidebar {
  top: 54px;
  right: 0%;
  display: none;
  background-color: #BDC3C7;
  padding: 8px 8px 10px 10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-bars:before {
  content: "\f0c9";
}

.footer {
  background-color: #2B3B4C;
  padding: 10px;
}

.footer-copyright {
  background-color: #394F66;
  padding: 10px;
}

.content {
  background-color: #fff;
  margin: 10px 0;
  border-radius: 0 10px;
}

.center {
  text-align: center;
}

a {
    text-decoration: none;
    outline: none;
}

.container_nav ul li {
  display: inline-block;
}

.contestForm table{
  width: 100%;
}


.contestList table {
  width: 100%;
}

.problemList table {
  width: 100%;
}

.border{
  border-radius: 10px 0;
}

.border-up{
  border-radius: 10px 0 0 0;
}

.border-down{
  border-radius: 0 0 10px 0 ;
}

.textbox{
  border: 1px solid #DBE1EB;
  font-size: 15px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  padding: 5px 5px 5px 5px;
  width: 70%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
}

.textbox:focus{
  color: #2E3133;
  border-color: #FBFFAD;
}

.width-box {
  width: 90%;
}

.right {
  padding-left:  70px;
}